
nav{
    height:54px;
  
   
}
.navbar-nav{
    margin-left:500px;
}
.container-fluid {
  
    width:fit-content;
}
.nav-item i{
    font-size: 1.5em;
}
.d-flex{
    position:relative;
    margin-left:5px;
}
.card-header{
    float:right;
}
.clear{
    clear:both;
}

.fixed {
    position: fixed;
    top:0;
    margin-left:60%;
}   
.story ul{
    width:30%;
}
  
.card{
    width:20rem;
    height:auto;
    margin-right:5em;
    margin-top:0.5em;
    position: relative;
   
}
.card-header i {
    font-size:1.5em;
    float:left;
   
}
.list-inline{
    font-size:0.5rem;
}
.card{
    margin-left:5;
    margin-top:2;
    background-color:white;
}
.card-header a{
    float:left;
    color: black;
    padding-left: 10px;
}

.col-md-4{
    margin-top: 4;
}
hr{
    margin-top: 0;
}
.middlearea ul{
    font-size:15px;
    margin-left: 2px;
}
/* !important kullanımı stil kısmındaki kod karmaşısından kurtulmamızı sağlar.
spesifik olan style yazılarını dikkate almaz.meselea #middlearea height:600px;
yazıldığı zaman !impotartant kullanıldğı için dikkate alınmaz.Daha spesifik olanı tanır ve kod
karmaşsından kurtulunmuş olunur.*/
.middlearea {
    height:700px !important; 
    width:50%;
    border: black;

    }
.img1{
 
    border-radius: 50%;
    overflow: hidden;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
    font-size: 10px;
    display:inline-block;
    vertical-align:middle;
    background-color: #F80;
    border: 3px solid red;
    border-radius: 18px;
    box-shadow: 0 0 2px red;
    height: 30px;
    width: 30px;
  
}

.img1 img{
    width:100%;
}
.img1 a{
    display: inline-block;
    margin-right: 60px;
    width: 120px;
}


.row{
    margin-left:15%;
}
.row ul{
    font-size: 15px;
  
    margin-left:3%;
}
.flow{
    margin-left:5%;
    margin-top:5px;
}
.flow ul{
   margin-left:10%;
   margin-top:0.5em;
}
.form-control{
    width:70%;
}
.list-inline-item button{
    color:blue;
}
